asttokens==2.4.1
colorama==0.4.6
comm==0.2.2
debugpy==1.8.6
decorator==5.1.1
executing==2.1.0
ipykernel==6.29.5
ipython==8.27.0
jedi==0.19.1
jupyter_client==8.6.3
jupyter_core==5.7.2
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
packaging==24.1
parso==0.8.4
pip==25.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
psutil==6.0.0
pure_eval==0.2.3
Pygments==2.18.0
python-dateutil==2.9.0.post0
pywin32==306
pyzmq==26.2.0
six==1.16.0
stack-data==0.6.3
tornado==6.4.1
traitlets==5.14.3
wcwidth==0.2.13
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
attrs==25.1.0
braindecode==0.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.8
contourpy==1.3.0
coverage==7.6.10
cycler==0.12.1
docker-pycreds==0.4.0
docstring-inheritance==2.2.2
edfio==0.4.5
EDFlib-Python==1.0.8
einops==0.8.0
filelock==3.15.4
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.6.1
gitdb==4.0.12
GitPython==3.1.44
h5py==3.12.1
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.7
lazy_loader==0.4
lightning==2.5.0.post0
lightning-utilities==0.12.0
lxml==5.3.0
MarkupSafe==2.1.5
matplotlib==3.9.2
memory-profiler==0.61.0
mne==1.9.0
mne-bids==0.14
moabb==1.1.1
mpmath==1.3.0
multidict==6.1.0
networkx==3.3
nibabel==5.2.1
nilearn==0.10.4
numpy==1.26.4
pandas==1.5.3
pillow==10.4.0
pip==24.0
pluggy==1.5.0
pooch==1.8.2
propcache==0.2.1
protobuf==5.29.4
pydantic==2.11.3
pydantic_core==2.33.1
pyparsing==3.2.0
pyriemann==0.6
pytest==7.4.4
pytorch-lightning==2.5.0.post0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
sentry-sdk==2.25.1
setproctitle==1.3.5
setuptools==74.1.0
skorch==1.1.0
smmap==5.0.2
sympy==1.13.2
tabulate==0.9.0
threadpoolctl==3.5.0
torch==2.4.0
torchinfo==1.8.0
torchmetrics==1.6.1
torchvision==0.19.0
torch-geometric==2.6.1
tqdm==4.67.1
typing_extensions==4.12.2
typing-inspection==0.4.0
tzdata==2024.2
urllib3==1.26.20
wandb==0.19.9
wheel==0.45.1
yarl==1.18.3
pip==24.0
autocommand==2.2.2
backports.tarfile==1.2.0
importlib_metadata==8.0.0
importlib_resources==6.4.0
inflect==7.3.1
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
packaging==24.1
platformdirs==4.2.2
tomli==2.0.1
typeguard==4.3.0
typing_extensions==4.12.2
wheel==0.43.0
zipp==3.19.2
