Automat==22.10.0
EDFlib-Python==1.0.8
Flask==3.0.3
GitPython==3.1.43
Jinja2==3.1.3
Markdown==3.5.2
MarkupSafe==2.1.4
Pillow==9.4.0
Protego==0.3.0
PuLP==2.8.0
PyDispatcher==2.0.7
PySocks==1.7.1
PyWavelets==1.6.0
PyYAML==6.0
Pygments==2.16.1
Rtree==1.2.0
Scrapy==2.11.0
Send2Trash==1.8.3
Twisted==22.10.0
Werkzeug==3.0.1
absl-py==2.1.0
access==1.1.9
affine==2.4.0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
apyori==1.1.2
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
argparse==1.4.0
arrow==1.3.0
arviz==0.20.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.1
blosc2==2.6.2
braindecode==0.8.1
branca==0.7.1
cachetools==5.3.2
certifi==2024.2.2
cffi==1.15.1
cftime==1.6.3
charset-normalizer==3.3.2
click-plugins==1.1.1
click==8.1.7
cligj==0.7.2
cloudpickle==2.2.1
colorama==0.4.6
colorlog==6.8.2
comm==0.2.0
cons==0.4.6
constantly==23.10.4
contextily==1.5.1
contourpy==1.0.7
coverage==7.6.10
cryptography==41.0.7
cssselect==1.2.0
cycler==0.11.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
descartes==1.1.0
docker-pycreds==0.4.0
docstring-inheritance==2.2.2
dpython==1.0.5
dython==0.7.5
easydev==0.13.1
edfio==0.4.5
einops==0.7.0
elastic-transport==8.12.0
elasticsearch==8.12.0
entrypoints==0.4
esda==2.5.1
et-xmlfile==1.1.0
etuples==0.3.9
exceptiongroup==1.1.3
executing==2.0.1
fastapi==0.104.1
fastjsonschema==2.19.1
filelock==3.17.0
fiona==1.9.5
flatbuffers==24.3.25
folium==0.16.0
folktables==0.0.12
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2023.12.2
gast==0.5.4
geographiclib==2.0
geojson==2.5.0
geopandas==1.0.1
geopy==2.4.1
giddy==2.3.5
git-filter-repo==2.38.0
gitdb==4.0.11
google-auth-oauthlib==1.0.0
google-auth==2.27.0
google-pasta==0.2.0
grpcio==1.60.0
gtfs-kit==8.1.0
gym-notices==0.0.8
gym-super-mario-bros==7.4.0
gym==0.26.2
h11==0.14.0
h3==3.7.7
h5netcdf==1.5.0
h5py==3.12.1
haversine==2.8.1
heapq-max==0.21
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.25.1
hyperlink==21.0.0
idna==3.7
igraph==0.11.4
imbalanced-learn==0.12.4
imblearn==0.0
incremental==22.10.0
inequality==1.0.1
iniconfig==2.0.0
ipykernel==6.26.0
ipython-genutils==0.2.0
ipython==8.17.2
ipywidgets==7.8.4
isoduration==20.11.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.2.0
jedi==0.19.1
jmespath==1.0.1
joblib==1.3.2
json2html==1.3.0
json5==0.9.25
jsonpointer==3.0.0
jsonschema-specifications==2023.12.1
jsonschema==4.21.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==1.1.10
kaleido==0.2.1
keras==3.6.0
kiwisolver==1.4.4
lazy_loader==0.4
libclang==16.0.6
libpysal==4.9.2
lightning-utilities==0.11.2
line-profiler==4.1.2
llvmlite==0.42.0
lmdb==1.4.1
logical-unification==0.4.6
loguru==0.7.2
lxml==4.9.3
mabwiser==2.7.3
mapclassify==2.6.1
mario-gpt==0.1.3
markdown-it-py==3.0.0
mat4py==0.6.0
matlab==0.1
matplotlib-inline==0.1.6
matplotlib-scalebar==0.8.1
matplotlib==3.7.1
mdurl==0.1.2
memory-profiler==0.61.0
mercantile==1.2.1
mgwr==2.2.1
miniKanren==1.0.3
mistune==0.8.4
ml-dtypes==0.4.1
mlxtend==0.23.1
mne-bids==0.14
mne-connectivity==0.6.0
mne==1.9.0
moabb==1.1.1
momepy==0.7.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multipledispatch==1.0.0
namex==0.0.8
nbclient==0.9.0
nbconvert==6.5.4
nbformat==5.9.2
ndindex==1.8
nes-py==8.2.1
nest-asyncio==1.5.8
netCDF4==1.6.5
networkx==3.3
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.59.0
numexpr==2.10.0
numpy==1.26.4
oauthlib==3.2.2
opencv-python==4.7.0.72
openpyxl==3.1.5
opt-einsum==3.3.0
optht==0.2.0
optree==0.13.0
osmnx==1.9.2
outcome==1.2.0
overrides==7.7.0
packaging==24.0
pandas==1.5.3
pandocfilters==1.5.1
parsel==1.8.1
parso==0.8.3
patsy==0.5.6
pexpect==4.9.0
pip==23.0.1
pip==25.0
platformdirs==4.2.0
plotly==5.21.0
pluggy==1.5.0
pointpats==2.4.0
pooch==1.8.1
prometheus_client==0.21.0
prompt-toolkit==3.0.41
protobuf==4.25.2
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyOpenSSL==23.3.0
pyasn1-modules==0.3.0
pyasn1==0.5.1
pycountry==24.6.1
pycparser==2.21
pydantic-settings==2.1.0
pydantic==1.10.13
pydantic_core==2.14.3
pydeck==0.9.1
pyemd==1.0.0
pyg-lib==0.4.0+pt24cpu
pygame==2.1.3
pyglet==1.5.21
pymc==5.20.0
pyogrio==0.7.2
pyparsing==3.0.9
pyproj==3.7.0
pyriemann==0.6
pysal==24.1
pytensor==2.26.4
pytest==7.4.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-json-logger==2.0.7
pytorch-lightning==2.2.2
pytz==2024.1
pywin32==306
pywinpty==2.0.13
pyzmq==25.1.1
quantecon==0.7.1
queuelib==1.6.2
rasterio==1.3.9
rasterstats==0.19.0
referencing==0.33.0
regex==2022.10.31
requests-file==1.5.1
requests-oauthlib==1.3.1
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.3
rpds-py==0.17.1
rsa==4.9
safetensors==0.4.5
scikit-learn==1.5.2
scikit-surprise==1.1.3
scipy==1.10.1
seaborn==0.12.2
segregation==2.5
selenium==4.12.0
sentry-sdk==2.1.1
service-identity==23.1.0
setproctitle==1.3.3
setuptools==65.5.0
setuptools==69.5.1
shap==0.45.1
shapely==2.0.3
simplejson==3.19.2
six==1.16.0
skorch==1.1.0
slicer==0.0.8
smmap==5.0.1
sniffio==1.3.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.5
spaghetti==1.7.5.post1
sparselsh==2.1.1
spectrum==0.8.1
spglm==1.1.0
spint==1.0.7
splot==1.1.5.post1
spopt==0.6.0
spreg==1.4.2
spvcm==0.3.0
stack-data==0.6.3
starlette==0.27.0
statsmodels==0.14.1
surprise==0.1
sympy==1.12
tables==3.9.2
tabulate==0.9.0
tenacity==8.2.3
tensorboard-data-server==0.7.2
tensorboard==2.18.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.4.0
terminado==0.18.1
texttable==1.7.0
threadpoolctl==3.3.0
tinycss2==1.2.1
tldextract==5.1.1
tobler==0.11.2
tokenizers==0.20.0
tomli==2.0.2
toolz==1.0.0
torch-geometric==2.6.1
torch==2.1.0
torch_cluster==1.6.3
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_spline_conv==1.2.2
torchaudio==2.1.0
torcheeg==1.1.1
torchinfo==1.8.0
torchmetrics==1.3.2
torchvision==0.16.0
tornado==6.3.3
tqdm==4.64.1
traitlets==5.13.0
transformers==4.45.1
trio-websocket==0.10.3
trio==0.22.2
twisted-iocpsupport==1.0.4
types-python-dateutil==2.9.0.20241003
typing_extensions==4.8.0
tzdata==2024.1
uri-template==1.3.0
urllib3==1.26.20
uvicorn==0.24.0.post1
vaderSentiment==3.3.2
w3lib==2.1.2
walker==0.0.2
wandb==0.16.6
wcwidth==0.2.10
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
wget==3.2
wheel==0.42.0
widgetsnbextension==3.6.9
win32-setctime==1.1.0
wrapt==1.14.1
wsproto==1.2.0
xarray-einstats==0.8.0
xarray==2024.3.0
xgboost==2.1.3
xmltodict==0.13.0
xyzservices==2023.10.1
yarl==1.9.4
zope.interface==6.1